
<footer>
<p class="text-center"><b><a href="#" text-primary>Ponmari </a></b> © 2021 All Rights Reserved.</p>
</footer>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</body>
</html>
